$menu_bg_color: #191919;
$menu_font_color: #fff;
$menu_font_active_color: #169bfa;
$gap-sm: 8px;
$gap: 12px;
$gap-md: 16px;
$gap-lg: 24px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$border-color-light: #e4e7ed;
$border-color-lighter: #ebeef5;
$color-title: #2d3e53; // 每个模块标题文字颜色

$--color-primary: #169bfa;
$--color-success: #31cf9a;
$--color-danger: #ff5f5f;
$--color-warning: #ffbc33;
// $--color-text-primary: #455a74; 会影响tooltip不建议修改
$--color-text-regular: #455a74;
$--color-text-secondary: #7b93a7; // 辅助文字，th
$--border-color-base: #ebebeb;
$--border-color-lighter: #ebebeb; // el-table 边框
$--color-text-placeholder: #bfbfbf;
$--background-color-base: #f9f9f9;
