/**
 * 本文件是项目样式构建主入口文件
**/

/* 全局reset样式表 */
@import './reset.scss';
/* 通用样式表 */
@import './common.scss';

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}