$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body,
#app,
.retina {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  min-width: 1000px;
  // min-height: 600px;
  color: #455a74;
  background: #f2f6f8;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
a.download {
  color: inherit;
  text-decoration: none;
}
.el-menu {
  flex-shrink: 0;
  border-bottom: 0;
  background-color: $menu_bg_color;
  .el-menu-item,
  .el-submenu__title {
    padding: 0 16px;
  }
  .el-submenu__title i {
    color: #fff;
  }
  .el-submenu .el-submenu__icon-arrow {
    margin-left: 4px;
  }
  .is-active .el-submenu__title i {
    color: $menu_font_active_color;
  }
  .el-icon-arrow-down::before {
    content: '\e790';
  }
}

.el-menu .is-active,
.el-menu .el-menu-item:hover,
.el-menu .el-submenu:hover {
  .el-submenu__title,
  .el-submenu__icon-arrow {
    color: $menu_font_active_color;
  }
}
.el-menu.el-menu--popup.el-menu--popup-bottom-start,
.el-menu.el-menu--popup.el-menu--popup-right-start,
.el-menu.el-menu--popup.el-menu--popup-right-start .el-submenu,
.el-menu.el-menu--popup.el-menu--popup-right-start .el-menu-item {
  min-width: 120px;
}

.el-menu.el-menu--popup.el-menu--popup-bottom-start
  .el-submenu
  .el-submenu__title
  .el-submenu__icon-arrow {
  right: 10px;
}
.el-menu--horizontal .el-menu .el-menu-item {
  width: auto;
}
.el-menu--horizontal {
  > .el-menu-item,
  > .el-submenu .el-submenu__title,
  > .el-submenu:focus .el-submenu__title,
  > .el-submenu:hover .el-submenu__title {
    width: auto;
    height: 60px;
    line-height: 60px;
    color: #d3dee4;
  }
  .el-menu-item.is-active,
  .el-submenu.is-active .el-submenu__title {
    border-width: 3px;
  }
  .el-menu .el-menu-item,
  .el-menu .el-submenu__title,
  .el-menu-item:not(.is-disabled):focus,
  .el-menu-item:not(.is-disabled):hover {
    color: #d3dee4;
  }
  > .el-menu-item:not(.is-disabled):focus,
  > .el-menu-item:not(.is-disabled):hover,
  > .el-submenu .el-submenu__title:hover,
  .el-menu-item:not(.is-disabled):focus,
  .el-menu-item:not(.is-disabled):hover {
    color: $menu_font_active_color;
    background-color: $menu_bg_color;
  }
  > .el-submenu.is-active .el-submenu__title,
  &.el-menu .el-menu-item.is-active,
  .el-menu .el-menu-item.is-active,
  .el-menu .el-submenu.is-active > .el-submenu__title {
    color: $menu_font_active_color;
    background-color: $menu_bg_color;
  }
  .el-menu--popup-bottom-start {
    .el-submenu__title,
    .el-menu-item {
      background-color: $menu_bg_color;
    }
  }
}

/* 设置tooltip最大宽度，否则table-cell内容过长时用户体验差 */
.el-tooltip__popper {
  max-width: 35%;
  line-height: 1.3;
}

.element-pager {
  position: relative;
  text-align: right;
  .el-pagination.is-background {
    padding: 0;
    .el-pagination__sizes {
      position: absolute;
      top: 0;
      left: 0;
      .el-select .el-input {
        margin: 0;
      }
    }
  }
}

.el-input.el-input-group--append {
  .el-input-group__append {
    border-color: $--color-primary;
    overflow: hidden;
  }
  .el-button {
    height: 32px;
    color: #fff;
    background-color: $--color-primary;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover,
    &:focus {
      background-color: #57adff;
    }
  }
  &.el-input--mini {
    .el-button {
      height: 28px;
    }
  }
}

.el-popover {
  .el-popconfirm {
    font-size: 13px;
  }
  .el-popconfirm__action .el-button {
    padding: 4px 10px;
    margin-top: 10px;
  }
  .el-button + .el-button {
    margin-left: 10px;
  }
}
.el-input-group__append,
.el-input-group__prepend {
  background-color: #fff;
  color: $--color-text-regular;
}
/* 修改elemnt-table */
.retina .el-table {
  color: $--color-text-regular;
  &::before,
  &:after,
  .el-table__fixed-right::before,
  .el-table__fixed::before {
    display: none;
    height: 0;
  }
  table {
    font-size: 12px;
  }
  th,
  th.is-leaf,
  td {
    padding: 0;
    border: 0;
    font-weight: 400;
  }
  thead.is-group th {
    border-bottom: 1px solid $--border-color-base;
    border-right: 1px solid $--border-color-base;
  }
  thead {
    color: $--color-text-secondary;
  }
  .cell {
    line-height: 1.5;
  }
  .el-table__header {
    th {
      height: 42px;
      background-color: $--background-color-base;
      overflow: hidden;
    }
  }
  .el-table__body {
    td {
      position: relative;
      height: 42px;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr.current-row td:first-child:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      width: 3px;
      background: $--color-primary;
    }
    tr.current-row > td {
      // background-color: #f4faff;
      background-color: #e0eefe;
    }
    /* tr:hover td 修复fixed列hover样式不一致 */
    tr.hover-row td,
    tr:hover > td {
      // background-color: #f5f8fa;
      background-color: #ebf4ff;
    }
  }

  &.el-table--mini {
    .cell {
      line-height: 1.3;
    }
    .el-table__header th {
      height: 32px;
    }
    .el-table__body td {
      height: 34px;
    }
  }
}

.el-drawer {
  outline: none;
  .el-drawer__header {
    box-shadow: 0 0 0 1px #e4e7ed;
    color: #354052;
  }
}

.el-message {
  min-width: 80px;
  padding: 15px;
  .el-message__content {
    white-space: nowrap;
  }
}

/*element checkbox color*/
// .el-checkbox__input.is-checked .el-checkbox__inner,
// .el-checkbox__input.is-indeterminate .el-checkbox__inner {
//   background-color: $--color-primary;
//   border-color: $--color-primary;
// }

// .el-checkbox__input.is-checked {
//   + .el-checkbox__label {
//     color: $--color-primary;
//   }
// }

// .el-checkbox {
//   color: #354052;
// }

/* el-dialog  默认居中*/
.el-popup-parent--hidden {
  padding: 0 !important;
}
.el-dialog__wrapper {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.el-dialog {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  max-height: calc(100vh - 100px);
  border-radius: 4px;
  overflow: hidden;
  .el-dialog__header {
    height: 40px;
    flex-shrink: 0;
    padding: 15px 12px 10px;
    border-bottom: 1px solid #dcdfe6;
    .el-dialog__headerbtn {
      top: 10px;
      right: 12px;
    }
  }
  .el-dialog__title {
    position: relative;
    line-height: 1;
    color: $color-title;
    font-size: 14px;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 3px;
    //   left: 0;
    //   bottom: 0;
    //   width: 2px;
    //   height: 15px;
    //   background-color: $--color-primary;
    // }
  }

  .el-dialog__body {
    flex: auto;
    flex-grow: 1;
    padding: 12px;
    overflow: auto;
    /* Hack弹窗下el-select少6px" */
    .el-form {
      .el-select {
        display: block;
      }
    }
  }
  .el-dialog__footer {
    flex-shrink: 0;
    padding: 12px;
    border-top: 1px solid #dcdfe6;
  }
}

/* 不带footer的dialog eg:custom-class="dialog-without-footer" */
.dialog-without-footer {
  .el-dialog__footer {
    display: none;
    height: 0;
  }
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: none;
}

/* element 模拟实现垂直滚动条 需加在<el-scrollbar>组件父元素 用例参考overview页面监控指标部分 */
.scrollbar-vertical {
  .el-scrollbar {
    height: 100%;
  }
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .el-scrollbar__bar {
    width: 4px !important;
    &.is-horizontal {
      display: none;
    }
  }
}

/*  穿梭框相关样式重置 */
.el-transfer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .el-transfer-panel {
    flex: 1;
  }
  .el-transfer-panel__header,
  .el-transfer-panel__header .el-checkbox {
    height: 30px;
    line-height: 30px;
    .el-checkbox__label {
      font-size: 14px;
      color: #606266;
      span {
        font-size: 14px;
        color: #606266;
      }
    }
  }
  .el-transfer-panel__filter.el-input {
    padding: 0;
    width: calc(100% - 24px);
    margin: 8px 12px;
    .el-input__inner {
      border-radius: 4px;
      height: 32px;
    }
  }
  .el-transfer-panel__footer {
    height: 32px;
    text-align: right;
    padding-right: 12px;
    .el-button.transfer-footer {
      height: 20px;
      width: 38px;
      line-height: 20px;
      font-size: 12px;
      background: rgba(255, 255, 255, 1);
      border-radius: 3px;
      padding: 0;
    }
  }
  .el-transfer__buttons {
    flex-shrink: 0;
    padding: 0 16px;
    .el-button {
      display: block;
      margin: 0;
      margin-bottom: 8px;
      padding: 4px 8px;
      border: 0;
    }
    .el-button:nth-of-type(1) {
      position: relative;
      top: 32px;
    }
    .el-button:nth-of-type(2) {
      position: relative;
      top: -32px;
    }
  }
}

/* fix 时间选择器clear位置bug */
.el-date-editor.el-range-editor--small {
  padding-right: 0;
  .el-range-input {
    width: 45%;
  }
  .el-range-separator {
    width: 2em;
  }
}

.el-form-item__label {
  padding-right: 8px;
}
.el-form-item--small.el-form-item {
  margin-bottom: 24px;
}
.el-select .el-input__inner {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// el-tree样式重定义
.el-tree-node__label {
  font-size: 12px;
}
.el-tree-node__content:hover {
  background-color: #f5f8fa;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #f4faff;
}
.el-tree-node:focus > .el-tree-node__content,
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: rgba(45, 152, 255, 0.1) !important;
  color: #169bfa;
}
.el-tree-node__expand-icon {
  color: #455a74;
}

// 分页
.el-pagination--small {
  .el-input--mini .el-input__inner {
    height: 22px;
    line-height: 22px;
  }
  .el-input__suffix {
    top: 2px;
  }
  .el-select .el-input .el-select__caret.is-reverse {
    transform: rotateZ(0deg) translateY(-4px);
  }
}

// el-tree 重定义
.el-tree-node__content {
  height: 32px;
}
.el-tree__empty-text {
  font-size: 12px;
  color: rgba(123, 147, 167, 0.8);
}
.el-table__empty-block {
  background: url('~@/assets/images/page-no-data-s.svg') center 100px no-repeat;
  padding-top: 210px;
  height: auto !important;
  padding-bottom: 50px;
}

// vue-treeselect 样式重定义
.vue-treeselect {
  line-height: 30px;
}
.vue-treeselect__control {
  border-color: #ebebeb !important;
  height: 30px !important;
  padding-right: 8px !important;
}
.vue-treeselect__option-arrow {
  color: #455a74 !important;
  width: 7px !important;
}
.vue-treeselect__menu {
  border-color: #ebebeb !important;
  max-height: 200px !important;
  padding-top: 0 !important;
}
.vue-treeselect__option {
  line-height: 32px !important;
  color: #455a74 !important;
}
.vue-treeselect--single .vue-treeselect__option--selected {
  background: rgba(45, 152, 255, 0.1) !important;
  font-weight: normal !important;
}
.vue-treeselect--focused:not(.vue-treeselect--open) .vue-treeselect__control{
  box-shadow: none !important;
}

// 重定义message提示框\成功、警告、错误提示框
.el-message-box__btns {
  padding: 20px 15px 0;
}
.el-message--success,
.el-message--warning,
.el-message--error {
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  border-color: #fff;
  .el-message__content {
    color: #455a74;
  }
  .el-message__icon {
    font-size: 14px;
  }
}
