<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BusiScoreMapper">
    
    <resultMap type="BusiScore" id="BusiScoreResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="aid"    column="aid"    />
        <result property="score"    column="score"    />
        <result property="ts"    column="ts"    />
    </resultMap>

    <sql id="selectBusiScoreVo">
        select id, uid, aid, score, ts from busi_score
    </sql>

    <select id="selectBusiScoreList" parameterType="BusiScore" resultMap="BusiScoreResult">
        <include refid="selectBusiScoreVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="aid != null "> and aid = #{aid}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="ts != null "> and ts = #{ts}</if>
        </where>
    </select>
    
    <select id="selectBusiScoreById" parameterType="Long" resultMap="BusiScoreResult">
        <include refid="selectBusiScoreVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiScore" parameterType="BusiScore">
        insert into busi_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uid != null">uid,</if>
            <if test="aid != null">aid,</if>
            <if test="score != null">score,</if>
            <if test="ts != null">ts,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uid != null">#{uid},</if>
            <if test="aid != null">#{aid},</if>
            <if test="score != null">#{score},</if>
            <if test="ts != null">#{ts},</if>
         </trim>
    </insert>

    <update id="updateBusiScore" parameterType="BusiScore">
        update busi_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="aid != null">aid = #{aid},</if>
            <if test="score != null">score = #{score},</if>
            <if test="ts != null">ts = #{ts},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiScoreById" parameterType="Long">
        delete from busi_score where id = #{id}
    </delete>

    <delete id="deleteBusiScoreByIds" parameterType="String">
        delete from busi_score where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>