<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BusiLableMapper">

    <resultMap type="BusiLable" id="BusiLableResult">
        <result property="lableId"    column="lable_id"    />
        <result property="lableName"    column="lable_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="lableDescription"    column="lable_description"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lableImg"    column="lable_img"    />
    </resultMap>

    <sql id="selectBusiLableVo">
        select lable_id, lable_name, create_by, create_time, lable_description, update_by, update_time, lable_img from busi_lable
    </sql>

    <select id="selectBusiLableList" parameterType="BusiLable" resultMap="BusiLableResult">
        <include refid="selectBusiLableVo"/>
        <where>
            <if test="lableName != null  and lableName != ''">
                and lable_name like concat('%', #{lableName}, '%')
            </if>
            <if test="createBy != null  and createBy != ''">
                and create_by like concat('%', #{createBy}, '%')
            </if>
            <if test="lableDescription != null  and lableDescription != ''">
                and lable_description like concat('%', #{lableDescription},'%')
            </if>
            <if test="lableImg != null  and lableImg != ''"> and lable_img = #{lableImg}</if>
        </where>
    </select>

    <select id="selectBusiLableById" parameterType="Long" resultMap="BusiLableResult">
        <include refid="selectBusiLableVo"/>
        where lable_id = #{lableId}
    </select>

    <insert id="insertBusiLable" parameterType="BusiLable" useGeneratedKeys="true" keyProperty="lableId">
        insert into busi_lable
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lableName != null">lable_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="lableDescription != null">lable_description,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="lableImg != null">lable_img,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lableName != null">#{lableName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="lableDescription != null">#{lableDescription},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="lableImg != null">#{lableImg},</if>
         </trim>
    </insert>

    <update id="updateBusiLable" parameterType="BusiLable">
        update busi_lable
        <trim prefix="SET" suffixOverrides=",">
            <if test="lableName != null">lable_name = #{lableName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="lableDescription != null">lable_description = #{lableDescription},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="lableImg != null">lable_img = #{lableImg},</if>
        </trim>
        where lable_id = #{lableId}
    </update>

    <delete id="deleteBusiLableById" parameterType="Long">
        delete from busi_lable where lable_id = #{lableId}
    </delete>

    <delete id="deleteBusiLableByIds" parameterType="String">
        delete from busi_lable where lable_id in
        <foreach item="lableId" collection="array" open="(" separator="," close=")">
            #{lableId}
        </foreach>
    </delete>
</mapper>
